Package: libsnmp-vyatta-perl
Source: vyatta-service-snmp
Version: 0.48.1
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 34
Depends: libsnmp-perl
Breaks: vyatta-service-snmp (<< 0.42)
Replaces: vyatta-service-snmp (<< 0.42)
Section: contrib/net
Priority: optional
Description: SNMP helper Perl modules
 Provides the Vyatta/Subagent.pm and Vyatta/MIBMisc.pm modules
