Package: vyatta-service-snmp-v1-yang
Source: vyatta-service-snmp
Version: 0.48.1
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 40
Depends: vyatta-service-snmp, configd-v1-yang, vyatta-services-v1-yang, vyatta-system-syslog-v1-yang, vyatta-types-v1-yang, libmodule-load-conditional-perl
Breaks: vyatta-cfg-system (<< 1.6.0)
Replaces: vyatta-cfg-system (<< 1.6.0)
Section: contrib/net
Priority: optional
Description: vyatta-service-snmp-v1 module
 SNMP configuration
