Package: vyatta-service-snmp-routing-instance-v1-yang
Source: vyatta-service-snmp
Version: 0.48.1
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 18
Depends: vyatta-service-snmp, vyatta-services-v1-yang, configd-v1-yang, vyatta-service-snmp-v1-yang, vyatta-routing-v1-yang, libvyatta-vrfmanager-perl, vyatta-service-snmp-routing-instance-op
Section: contrib/net
Priority: optional
Description: vyatta-service-snmp-routing-instance-v1 module
 SNMP routing-instance configuration
