Package: vyatta-entity-sensor-subagent-dbgsym
Source: vyatta-service-snmp
Version: 0.48.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 28
Depends: vyatta-entity-sensor-subagent (= 0.48.1)
Section: contrib/debug
Priority: optional
Description: debug symbols for vyatta-entity-sensor-subagent
Build-Ids: b713bad45d1753f56d0dcff81a5b6c17f6c872c6
