Package: vyatta-omrfc5676
Source: vyatta-service-snmp
Version: 0.48.1
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 34
Depends: libc6 (>= 2.38), libsnmp40t64 (>= 5.9.4+dfsg)
Section: contrib/net
Priority: optional
Description: rsyslogd helper for RFC5676 support
 omrfc5676 is a helper for rsyslogd that provides RFC5676 notifications
